<head>
  <meta charset="UTF-8">
</head>
<div class="block-content">
  <div class="text text-center">
    <div class="grid-container"> 
      <!-- Full-width текст и медиа -->
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/1_1 (1).jpg"> </figure>
        <h2>2800W Номинална мощност</h2>
        <p>Два елeктро мотора  с мощност 1400W, които предоставят  максимална скорост от 75км/ч.</p>
      </div>
      <hr/>
      <div class="grid-12">
      <figure> <img alt="MUKUTA" src="/1_2 (1).jpg"> </figure>
      <h2>32A Регулатор на скоростта</h2>
      <p>Осигурява сила и мощ за изкачване до 30ᵒ градусoви  наклони</p>
    </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/1_3 (1).jpg"> </figure>
        <h2>Единичен/двоен двигател</h2>
        <p>Спестете енергия от батерията, като преминете към режим на еко задвижване с един мотор или се насладете
          на максимален потенциал, като използвате високоефективния режим на каране с два двигателя</p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/2_1 (1).jpg"> </figure>
        <h2>16 x 8 литиево-йоннa батерия</h2>
        <p>MUKUTA със 128  литиево-йонни  клетки с висока енергийна плътност 18650.   В състояние да достигне до 100км/120км пробег на дълги разстояния</p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/2_2 (1).jpg"> </figure>
        <h2>2 Входа за зареждане</h2>
        <p>Намалете времето за зареждане наполовина, като използвате две зарядни устройства едновременно
        </p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/3.jpg"> </figure>
        <h2>Интелигентен контрол на температурата</h2>
        <p>Интелигентна система за управление на батерията, показва изправността на батерията и я защитава, докато работи</p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/3_1 (1).jpg"> </figure>
        <h2>Окачване с 4 пружини</h2>
        <p>Абсорбцията на 4 пружини прави вашето каране по-безопасно и по-удобно</p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/3_2 (1).jpg"> </figure>
        <h2>Независимо окачване</h2>
        <p>Предното и задното независимо окачване могат да поемат значителни неравности и да поддържат тротинетката стабилна</p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/3_3.jpg"> </figure>
        <h2>Максимално натоварване</h2>
        <p>Висококачествената система на окачването позволява на тротинетката максимално натоварване от 150 килограма.</p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/4_1 (1).jpg"> </figure>
        <h2>Двойна хидравлична спирачка</h2>
        <p>Хидравличните дискови спирачки осигуряват най-голяма спирачна сила, което ги прави най-добрите за вашата безопасност</p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/4_2 (1).jpg"> </figure>
        <h2>145 MM спирачен диск</h2>
        <p>145 мм дискова спирачка осигурява ултра къс спирачен път с много малко усилие, по-лесна е за смяна и е по-ефективна от барабанните спирачки</p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/1.jpg"> </figure>
        <h2>Бързо сгъваем</h2>
        <p>Нов силно обезопасен сгъваем носач с бързо заключване, кажете сбогом на клатещите се дръжки</p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/4.jpg"> </figure>
        <h2>4,5-инчов LCD дисплей</h2>
        <p>Персонализирайте вашите предпочитания за пътуване с интуитивен и информативен LCD дисплей. Направете пътуването си сигурно чрез заключване на NFC карта с ключ</p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/5_4 (1).jpg"> </figure>
        <h2>Борд против хлъзване</h2>
        <p>Гумена постелка на борда, против хлъзгане, лесна за почистване, дълъг експлоатационен живот</p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/5_1 (1).jpg"> </figure>
        <h2>2 LED предни светлини</h2>
        <p></p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/5_2 (1).jpg"> </figure>
        <h2>Задна светлина</h2>
        <p></p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/5_3.jpg"> </figure>
        <h2>Предни и задни мигачи</h2>
        <p></p>
      </div>
      <hr/>
      <div class="grid-12">
        <figure> <img alt="MUKUTA" src="/5_4 (1).jpg"> </figure>
        <h2>Странични светлини</h2>
        <p></p>
      </div>
      <hr/>
      <!-- Split on half текст ляво, медиа дясно -->
      <div class="grid-12 d-flex">
        <div class="grid-d-6 grid-t-6 grid-m-12 text">
          <h2>Subtitle</h2>
          <p>Content.</p>
        </div>
        <div class="grid-d-6 grid-t-6 grid-m-12 text">
          <figure class="responsive"> <img alt="MUKUTA" src="picture"></figure>
        </div>
      </div>
      <hr/>
      
      <!-- Split on half текст дясно, медиа ляво -->
      <div class="grid-12 d-flex">
        <div class="grid-d-6 grid-t-6 grid-m-12 text">
          <figure class="responsive"> <img alt="MUKUTA" src="picture"></figure>
        </div>
        <div class="grid-d-6 grid-t-6 grid-m-12 text">
          <h2>Subtitle</h2>
          <p>Content.</p>
        </div>
      </div>
      <hr/>
      <!-- x3 -->
      <div>
        <div class="grid-d-4 grid-t-4 grid-m-12">
          <figure> <img alt="MUKUTA" src="picture"> </figure>
          <h3>Subtitle</h3>
          <br>
          <p>Content.</p>
        </div>
        <div class="grid-d-4 grid-t-4 grid-m-12">
          <figure> <img alt="MUKUTA" src="picture"> </figure>
          <h3>Subtitle</h3>
          <br>
          <p>Content.</p>
        </div>
        <div class="grid-d-4 grid-t-4 grid-m-12">
          <figure> <img alt="MUKUTA" src="picture"> </figure>
          <h3>Subtitle</h3>
          <br>
          <p>Content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- video -->
<style type="text/css">

.block-content{
  background: black;
}
h2 {
  color: #B6B3B6;
  align-items: center;
}
img{
  max-width: 100%;
}

p {
  color: #B6B3B6;
}

.text-center{
  text-align: center;
}


.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

</style>
<div class="embed-container">
  <iframe frameborder="0" src="embed-youtube-url"></iframe>
</div>