@import './base.css';

#app {
  margin: 0 auto;
  padding: 0rem;
  font-weight: normal;
  max-width: 100vw;
}

@viewport {
  zoom: 1.0;
  initial-scale: 1.0;
  maximum-scale: 1.0;
  user-scalable: no;
}
a,
.green {
  text-decoration: none;

  
}

